{#
    Este layout lo usar치n las p치ginas a la que acceden los usuarios administradores.

    Ya que se maneja herencia de tres niveles, heredamos del base.html.twig
    y definimos el contenido generico de las vistas que heredar치n de este template.
#}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block header %}
            <header>
                <div class="jumbotron">
                    <h2>Sistema de reservaciones Online</h2>
                    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="user-info">
                            Bienvenido {{ app.user }}!
                        </div>
                    {% endif %}
                    <nav>
                        <ul>
                            {% set _route = app.request.attributes.get('_route') %}
                            <li class="{{ _route starts with 'admin_user' ? 'active' }}">
                                <a href="{{ path('admin_user_list') }}">Usuarios</a>
                            </li>
                            <li class="{{ _route starts with 'admin_reservation' ? 'active' }}">
                                <a href="{{ path('admin_reservation_list') }}">Reservaciones</a>
                            </li>
                            <li><a class="logout" href="{{ logout_path() }}">Salir</a></li>
                        </ul>
                    </nav>
                </div>

            </header>
        {% endblock %}

        {# Las vistas implementar치n su bloque "content" para mostrar su contenido #}
        {% block content %}
        {% endblock %}

    </div>
{% endblock %}
